{% extends 'base.html' %}
{% load static %}

{% block title %} О нас {% endblock %}

{% block body %}
   <h1 align="center">About</h1>
   <p>Это приложение является стартапом студетов RUDN. Основной целью проекта является привлечение массовой аудитории и развитие необходимых для разработчика навыков. </p>
   <ul>
        <li>Класс приложения: Web-приложение</li>
        <li>Колличество участников: 6</li>
   </ul>
    <h2 align="center"> Сама идея:</h2>
    <p>Создание среды, в которой пользователи всемирной паутины могут свободно и неограниченно общаться. По природе своей, человек - социальное существо. А каждому социальному существу нужно место для общения. И мы нашли отличное решение этого вопроса! У вас есть прекрасная возможность познакомиться с людьми поблизости. Все, что вам нужно, прямо перед вами!</p>

   <h2>Участники проекта:</h2>
   <ul>
       {% for user in users %}
       <li><a href="{% url 'user' user.slug %}">{{ user.lastname }} {{ user.firstname }}</a></li>
       {% endfor %}
   </ul>
{% endblock %}