{% extends 'base.html' %}
{% load static %}

{% block title %} О нас {% endblock %}
<style>
    body {
        background-color:rgb(0, 0, 0);
        color: rgb(247, 247, 247);
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 22px; 
    }


</style>
{% block body %}
   <h1 align="center">About</h1>
   <p>Это приложение является стартапом студетов RUDN. Основной целью проекта является привлечение массовой аудитории и развитие необходимых для разработчика навыков. </p>
   <ul>
        <li>Класс приложения: Web-приложение</li>
        <li>Колличество участников: 6</li>
   </ul>
    <h2 align="center"> Сама идея:</h2>
    <p>Web-приложение показывает геопозицию пользователей, на карте города видны аватары людей, размер аватара зависит от рейтинга пользователя. Пользователями приложения могут быть как юридические, так и физические лица, что создаёт коммерческую сторону проекта. Рейтинг пользователя увеличивается с ростом внутри-игровой валюты. </p>

   <h2>Участники проекта:</h2>
   <ul>
        <li>Орлов Олег</li>
        <li>Добри Сергей</li>
        <li>Рябинин Владислав</li>
        <li>Проценко Никита</li>
        <li>Кучеров Георгий</li>
        <li>Фу Сижень</li>
   </ul>
{% endblock %}